@page "/categorias"
@using Dima.Core.Models
@inherits ListCategoriesPage

<div class="d-flex justify-end mt-5">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.TwoTone.Add"
               Href="/categorias/adicionar">
        NOVA CATEGORIA
    </MudButton>
</div>

<MudDataGrid Class="mt-4" Items="@Categories" Filterable="false" QuickFilter="Filter" Hideable="true" Hover="true" Dense="true" Bordered="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Categorias</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm" Placeholder="Filtrar..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Immediate="true" IconSize="Size.Medium" Class="mt-0"> </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn CellStyleFunc="@_cellStyleFunc" Property="x => x.Id" Title="#" />
        <PropertyColumn CellStyleFunc="@_cellStyleFunc" Property="x => x.Title" Title="Categoria" />
        <PropertyColumn CellStyleFunc="@_cellStyleFunc" Property="x => x.Description" Title="Descrição" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/categorias/editar/{context.Item.Id}")"
                                   Color="Color.Success">
                    </MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   aria-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


@code {
   
    private Func<Category, string> _cellStyleFunc => x =>
    {
        return "background-color:#00000";
    };
}
